*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
}
.nav-link{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem !important;
    
}
.nav-link:hover{
    color: #C5A880 !important;
    font-weight: 300 !important;
}
.img-boy{
    border-radius: 10px !important;
    height: 200px;
}
p{
    font-family: "Poppins", sans-serif; 
    font-weight: 300 !important;
    font-style: normal !important;
}
h1,h3{
    font-family:serif !important;
    font-weight: 100 !important;
    font-style: normal !important;
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}


